# <center> TSA Account Closure First Notification</center>

In [1]:
# Import Libraries   

import pandas as pd  
import numpy as np  

from google.cloud import bigquery
import os

path = r"C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json"

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = path
client = bigquery.Client(project="prj-prod-dataplatform")

In [2]:
sq = """select Run_Date, count(1)cnt from risk_credit_mis.tsa_account_closure group by 1 order by 1 desc"""
df = client.query(sq).to_dataframe(progress_bar_type = 'tqdm')
df.head(1)

Job ID 0002e84b-a457-4a36-8ca4-8a684a1f589c successfully executed: 100%|██████████|
Downloading: 100%|██████████|

     Run_Date     cnt
0  2024-02-25  524943

In [3]:
from datetime import datetime, timedelta

# Given date
given_date = datetime.strptime('2024-02-25', '%Y-%m-%d')

# Calculate date 60 days ago
result_date = given_date - timedelta(days=60)

# Format and print the result
formatted_result_date = result_date.strftime('%Y-%m-%d')
print(f"The d-60 days is {formatted_result_date}")

The d-60 days is 2023-12-27

In [4]:
from datetime import datetime, timedelta

# Given date
given_date = datetime.strptime('2024-02-25', '%Y-%m-%d')

# Calculate date 60 days ago
result_date = given_date - timedelta(days=180)

# Format and print the result
formatted_result_date = result_date.strftime('%Y-%m-%d')
print(f"The d-180 days is {formatted_result_date}")

The d-180 days is 2023-08-29

The date should be D-1? If the date is not D-1 then ask Bala to refresh the table.

Step1: At line 11 change the date to D-1<br><br>
Step2: At line around 36 (and (TSA_Opening_date < date '2023-10-18')   ####D-60 days(SHOULD BE SAME DATE FOR 1ST,2ND,3RD NOTIFICATION)) Change the date D-60 Days <br><br>
Step3: At line around 45 (WHEN tsa_status = 'Active' and Last_TSA_EOD_Balance_Date is null and (TSA_Opening_date < date '2023-10-18')  ####D-60 days(SHOULD BE SAME DATE FOR 1ST,2ND,3RD NOTIFICATION)) Change the date D-60 Days <br><br>
Step4: At line 58 (and TSA_Opening_date < date '2023-06-18'  and (Last_TSA_Credit_Date < date '2023-06-18' and Last_TSA_Debit_Date < date '2023-06-18' and coalesce(Last_Group_Stash_Credit_Date,date '1970-01-01') < date '2023-06-18')  ####D-180 days(SHOULD BE SAME DATE FOR 1ST,2ND,3RD NOTIFICATION)) <br><br>
Step5: At line 72 (Run_Date = date '2024-01-09'###DATE change here to D-1) Change the date to D-1<br><br>

First Notification we change all the steps <br><br>
Second and Third Notification we only change Step1 and Step5
For Second Notificaiton and Third Notificaiton the customre id should be from the file sent by Marvin. <br><br>

In [5]:
sq = """with
w_kyc
as
(
  select distinct PARTYID, SEGCATEGORYDESC, row_number() over(partition by partyid order by SEGEFFECTIVEFROM desc) as rnk from `core_raw.party_details`
)
,
w_tsa
as
(
  select * from risk_credit_mis.tsa_account_closure where Run_Date = date '2024-02-25'  ###DATE change here to D-1
  and
  Customer_Id not in (select cast(PARTYID as string) from w_kyc where rnk = 1 and SEGCATEGORYDESC = 'BKYC')
)
,
w_approved
as
(
  select DISTINCT customerId from risk_credit_mis.loan_master_table where loantype = 'BIGLOAN' OR FLAGAPPROVAL = 1 OR FLAGDISBURSEMENT = 1  
  or (stage1Status = 'EXPIRED' AND cddInitiatedDateAndTime IS NULL)
)
select *
from
(
  select 
  a.Customer_Id,a.TSA_Opening_date,
  c.OFSTANDARDACCOUNTID as TSA_Account_Number, c.OfblockAmount, 
  a.TSA_Status,a.TSA_Balance,a.Solo_Stash_Balance,a.Group_Stash_Balance,a.Term_Deposit_Balance,a.Active_Term_Deposit_flag,a.Last_TSA_Credit_Date,a.Last_TSA_Debit_Date,
  a.ARI_Flag,a.Active_Loan,a.Total_Loan_Outstanding,  case when b.customerId is not null then 1 else 0 end as Approved_Loans,
  a.Pending_Loan_Applications,a.Hard_Reject_Loans_App,a.Soft_Reject_Loans_App,a.Cancelled_Loans_App, extract(date from a.Last_Login_Date) as Last_Login_Date,
  a.Last_TSA_EOD_Balance_Date,a.Last_Group_Stash_Credit_Date,a.Group_Stash_Balance_Owner,a.Run_Date,a.Batch,a.Processing_Month,a.pending_loans_not_expired_not_exempt,a.expired_loans,
  a.pending_loans_lastDt,a.expired_loans_lastDt,
  CASE 
    WHEN tsa_status = 'Active' and (Last_TSA_Credit_Date = date '1970-01-01' and Last_Group_Stash_Credit_Date is null)
    and (TSA_Opening_date < date '2023-12-27')   ####D-60 days(SHOULD BE SAME DATE FOR 1ST,2ND,3RD NOTIFICATION)
    and ( round(coalesce(TSA_Balance,0) + coalesce(Solo_Stash_Balance,0) + coalesce(Group_Stash_Balance,0) + coalesce(Term_Deposit_Balance,0),2) = 0 )
    and (Active_Loan = 0) and (COALESCE(Pending_Loan_Applications,0) = 0)
    and (Active_Term_Deposit_flag = 0)
    and (ARI_Flag = 'N')
    --and (Approved_Loans = 0)  THEN 'TYPE 1'
    and b.customerId is null  THEN 'TYPE 1'


    WHEN tsa_status = 'Active' and Last_TSA_EOD_Balance_Date is null and (TSA_Opening_date < date '2023-12-27')  ####D-60 days(SHOULD BE SAME DATE FOR 1ST,2ND,3RD NOTIFICATION)
    and ( round(coalesce(TSA_Balance,0) + coalesce(Solo_Stash_Balance,0) + coalesce(Group_Stash_Balance,0) + coalesce(Term_Deposit_Balance,0),2) = 0 )
    and (Active_Loan = 0) and (COALESCE(Pending_Loan_Applications,0) = 0)
    and (Active_Term_Deposit_flag = 0)
    and (ARI_Flag = 'N')
    --and (Approved_Loans = 0)
    and b.customerId is null  
    and (date_trunc(TSA_Opening_date,day) = date_trunc(Last_Login_Date,day)) THEN 'TYPE 2'

    
    WHEN ( round(coalesce(TSA_Balance,0) + coalesce(Solo_Stash_Balance,0) + coalesce(Group_Stash_Balance,0) + coalesce(Term_Deposit_Balance,0),2) < 1 )
    and (Active_Loan = 0) and (COALESCE(Pending_Loan_Applications,0) = 0)
    and (Active_Term_Deposit_flag = 0)
    and TSA_Opening_date < date '2023-08-29'  and (Last_TSA_Credit_Date < date '2023-08-29' and Last_TSA_Debit_Date < date '2023-08-29' and coalesce(Last_Group_Stash_Credit_Date,date '1970-01-01') 
    < date '2023-08-29')  ####D-180 days(SHOULD BE SAME DATE FOR 1ST,2ND,3RD NOTIFICATION)
    and tsa_status = 'Active'
    and (ARI_Flag = 'N')
    --and (Approved_Loans = 0)
    and b.customerId is null  
    THEN 'TYPE 3'
    ELSE 'NO ACTION'
    END AS ACTION_TYPE
  from w_tsa A
  left join w_approved b
  on cast(a.Customer_Id as int64) = b.customerId
  left join core_raw.customer_accounts c
  on c.OFCUSTOMERID = a.Customer_Id and c.CRINTERDESC = 'Transactional Savings Account Inv_R' and c.OFISCLOSED = 'N'
  where
  Run_Date = date '2024-02-25'###DATE change here to D-1
)
"""

df = client.query(sq).to_dataframe(progress_bar_type='tqdm')

print(f"The count of rows and columns in the extracted data are\t:{df.shape}")

Job ID 63851995-7a98-4952-8e9f-ebef7eb18466 successfully executed: 100%|██████████|
Downloading: 100%|██████████|
The count of rows and columns in the extracted data are	:(459749, 32)

In [9]:
pd.set_option('display.max_columns', None)
df.sample(10)

,Customer_Id,TSA_Opening_date,TSA_Account_Number,OfblockAmount,TSA_Status,TSA_Balance,Solo_Stash_Balance,Group_Stash_Balance,Term_Deposit_Balance,Active_Term_Deposit_flag,Last_TSA_Credit_Date,Last_TSA_Debit_Date,ARI_Flag,Active_Loan,Total_Loan_Outstanding,Approved_Loans,Pending_Loan_Applications,Hard_Reject_Loans_App,Soft_Reject_Loans_App,Cancelled_Loans_App,Last_Login_Date,Last_TSA_EOD_Balance_Date,Last_Group_Stash_Credit_Date,Group_Stash_Balance_Owner,Run_Date,Batch,Processing_Month,pending_loans_not_expired_not_exempt,expired_loans,pending_loans_lastDt,expired_loans_lastDt,ACTION_TYPE
445436,1539207,2022-08-11,60815392070005,0.0,Active,1.02,0.00,0.0,0.0,0,2023-08-31,1970-01-01,N,0,0.0,0,0,1,0,0,2024-02-06,2024-02-25,NaT,NaN,2024-02-25,Batch_1,February,0,0,NaT,NaT,NO ACTION
280424,1815097,2022-12-12,60818150970009,0.0,Active,0.00,0.00,0.0,0.0,0,1970-01-01,1970-01-01,N,0,0.0,0,1,0,0,0,2022-12-18,NaT,NaT,NaN,2024-02-25,Batch_1,February,0,0,NaT,NaT,NO ACTION
434179,1007652,2021-03-20,60810076520009,0.0,Active,0.02,0.00,0.0,0.0,0,2023-07-31,2023-07-01,N,0,0.0,0,0,0,1,0,2023-10-03,2024-02-25,NaT,NaN,2024-02-25,Batch_1,February,0,2,NaT,2022-06-19,TYPE 3
371915,1614228,2022-09-11,60816142280006,0.0,Active,0.00,0.00,0.0,0.0,0,1970-01-01,1970-01-01,N,0,0.0,0,1,0,0,0,2022-09-11,NaT,NaT,NaN,2024-02-25,Batch_1,February,1,0,2022-10-12,NaT,NO ACTION
397446,1054974,2021-06-18,60810549740007,0.0,Active,60.99,118.87,0.0,0.0,0,2024-01-31,2024-01-31,N,0,0.0,0,1,0,0,0,2022-11-22,2024-02-25,NaT,NaN,2024-02-25,Batch_1,February,0,1,NaT,2021-10-26,NO ACTION
209233,1364039,2022-05-05,60813640390001,0.0,Active,0.00,0.00,0.0,0.0,0,1970-01-01,1970-01-01,N,0,0.0,0,1,0,0,0,2022-05-05,NaT,NaT,NaN,2024-02-25,Batch_1,February,0,0,NaT,NaT,NO ACTION
122555,1566774,2022-08-24,60815667740004,0.0,Active,0.00,0.00,0.0,0.0,0,1970-01-01,1970-01-01,N,0,0.0,0,1,0,0,0,2022-08-29,NaT,NaT,NaN,2024-02-25,Batch_1,February,0,0,NaT,NaT,NO ACTION
393336,1585039,2022-08-30,60815850390006,0.0,Active,0.00,0.00,0.0,0.0,0,1970-01-01,1970-01-01,N,0,0.0,0,1,0,0,0,2022-09-09,NaT,NaT,NaN,2024-02-25,Batch_1,February,1,0,2022-10-07,NaT,NO ACTION
301060,1821863,2022-12-16,60818218630002,0.0,Active,0.00,0.00,0.0,0.0,0,1970-01-01,1970-01-01,N,0,0.0,0,1,0,0,0,2022-12-16,NaT,NaT,NaN,2024-02-25,Batch_1,February,1,0,2023-01-16,NaT,NO ACTION
339523,1415832,2022-06-18,60814158320002,0.0,Active,3627.50,0.00,0.0,0.0,0,2024-01-31,2024-01-31,N,0,0.0,0,0,0,0,0,2023-07-21,2024-02-25,NaT,NaN,2024-02-25,Batch_1,February,0,0,NaT,NaT,NO ACTION

In [10]:
result_pivot = df.pivot_table(
    index='ACTION_TYPE',
    columns = 'TSA_Status',
    values=['Customer_Id'],
    aggfunc=pd.Series.nunique
)

# Display the result
# 
result_pivot = result_pivot.reset_index()
result_pivot

           ACTION_TYPE Customer_Id
TSA_Status                  Active
0            NO ACTION      449095
1               TYPE 1        7409
2               TYPE 2          14
3               TYPE 3        3231

In [8]:
df.to_excel(r"D:\MyStuff\Marvin\TSA Account Closure\20240226_TSA_Account_Closure_1stNotification.xlsx", sheet_name='DATA', index = False)